MySQL Workbench Code:

In [ ]:
-- Table 1: Customers
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    City VARCHAR(50)
);

-- Table 2: Orders
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    Amount INT
);

-- Table 3: Payments
CREATE TABLE Payments (
    PaymentID VARCHAR(10) PRIMARY KEY,
    CustomerID INT,
    PaymentDate DATE,
    Amount INT
);

-- Table 4: Employees
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    EmployeeName VARCHAR(50),
    ManagerID INT
);

-- Customers
INSERT INTO Customers VALUES
(1, 'John Smith', 'New York'),
(2, 'Mary Johnson', 'Chicago'),
(3, 'Peter Adams', 'Los Angeles'),
(4, 'Nancy Miller', 'Houston'),
(5, 'Robert White', 'Miami');

-- Orders
INSERT INTO Orders VALUES
(101, 1, '2024-10-01', 250),
(102, 2, '2024-10-05', 300),
(103, 1, '2024-10-07', 150),
(104, 3, '2024-10-10', 450),
(105, 6, '2024-10-12', 400);  -- unknown customer

-- Payments
INSERT INTO Payments VALUES
('P001', 1, '2024-10-02', 250),
('P002', 2, '2024-10-06', 300),
('P003', 3, '2024-10-11', 450),
('P004', 4, '2024-10-15', 200);

-- Employees
INSERT INTO Employees VALUES
(1, 'Alex Green', NULL),
(2, 'Brian Lee', 1),
(3, 'Carol Ray', 1),
(4, 'David Kim', 2),
(5, 'Eva Smith', 2);

Q 1. Retrieve all customers who have placed at least one order.

Ans 1.

SELECT DISTINCT c.CustomerID, c.CustomerName, c.City

FROM Customers c

INNER JOIN Orders o

ON c.CustomerID = o.CustomerID;

Q 2. Retrieve all customers and their orders, including customers who have not placed any orders.

Ans 2.

SELECT c.CustomerID, c.CustomerName, c.City, o.OrderID, o.OrderDate, o.Amount

FROM Customers c

LEFT JOIN Orders o

ON c.CustomerID = o.CustomerID;

Q 3. Retrieve all orders and their corresponding customers, including orders placed by unknown customers.

Ans 3.

SELECT c.CustomerID, c.CustomerName, c.City, o.OrderID, o.Amount

FROM Customers c

RIGHT JOIN Orders o

ON c.CustomerID = o.CustomerID;

Q 4. Display all customers and orders, whether matched or not.

Ans 4.

(
  
SELECT c.CustomerID, c.CustomerName, c.City, o.OrderID, o.Amount

FROM Customers c

LEFT JOIN Orders o ON c.CustomerID = o.CustomerID

)

UNION

(
  
SELECT c.CustomerID, c.CustomerName, c.City, o.OrderID, o.Amount

FROM Customers c

RIGHT JOIN Orders o ON c.CustomerID = o.CustomerID

);

Q 5. Find customers who have not placed any orders.

Ans 5.

SELECT c.CustomerID, c.CustomerName, c.City

FROM Customers c

LEFT JOIN Orders o

ON c.CustomerID = o.CustomerID

WHERE o.CustomerID IS NULL;

Q 6. Retrieve customers who made payments but did not place any orders.

Ans 6.

SELECT p.CustomerID, c.CustomerName, c.City

FROM Payments p

LEFT JOIN Orders o

ON p.CustomerID = o.CustomerID

LEFT JOIN Customers c

ON p.CustomerID = c.CustomerID

WHERE o.CustomerID IS NULL;

Q 7. Generate a list of all possible combinations between Customers and Orders.

Ans 7.

SELECT c.CustomerID, c.CustomerName, o.OrderID, o.OrderDate

FROM Customers c

CROSS JOIN Orders o;

Q 8. Show all customers along with order and payment amounts in one table.

Ans 8.

SELECT c.CustomerID, c.CustomerName, c.City, o.OrderID, o.Amount OrderAmount, p.PaymentID, p.Amount PaymentAmount

FROM Customers c

LEFT JOIN Orders o

ON c.CustomerID = o.CustomerID

LEFT JOIN Payments p

ON c.CustomerID = p.CustomerID;

Q 9. Retrieve all customers who have both placed orders and made payments.

Ans 9.

SELECT DISTINCT c.CustomerID, c.CustomerName, c.City

FROM Customers c

INNER JOIN Orders o

ON c.CustomerID = o.CustomerID

INNER JOIN Payments p

ON c.CustomerID = p.CustomerID;